.ubicacionN {
    font-size: 13px;
    background-color: black;
    width: 20%;
    margin: 0 auto;
}

.parte-inf, .portada {
    margin-left: 130px;
    margin-right: 130px;
}

.col-der{
    padding-left: 10px;
}

.col-izq{
    padding-right: 10px;
    border-right: 2px solid #0E3D3E;
}

.TítuloPrincipal h1
{
    font-family: 'Piazzolla', serif;
    font-size: 50px;
}

.FuenteNoticia {   
    font-family: 'Bitter', serif;
    font-size: 15px;
}

.descripcion {
    padding-top: 15px;
    width: 100%;
}

img {
    /*display: block;
    margin-left: auto;
    margin-right: auto;*/
    object-fit: cover;
    width: 100%;
}

.portada {
    margin-top: 30px;
}

hr.StartNew{
    margin: 10px 0 ;
    height: 2px;
    background-color: #0E3D3E;
}

p.relleno{
    font-size: 17px;
    text-align: justify;
    font-family: 'Bitter', serif;
}

p.hour{
    font-size: 11px;
    font-family: 'Bitter', serif;
}

.categs{
    font-family: 'Bitter', serif;
    border-bottom: 2px solid white;
}

div.gallery {
    width: 100%;
}
  
div.gallery:hover {
    border: 1px solid #777;
}
  
div.gallery img {
    object-fit: cover;
    width: 100%;
    height: 200px;
}
  
div.desc {
    padding: 5px;
    text-align: center;
    font-family: 'Bitter', serif;
    font-size: 12px;
    
}

/*/////////////////////////////////////////////////////////////////////*/
/*COMENTARIO DE EDITOR*/
/*/////////////////////////////////////////////////////////////////////*/
.edit-coment{
    margin-bottom: 50px;
}

.edit-coment form input{
    margin: 5px 0;
}

.edit-coment form input[type="button"]{
    border: 0;
    border-radius: 5px;
    background-color: rgb(26, 26, 155);
    width: 25%;
    color: wheat;
    padding: 5px 0;

    transition: all ease .4s;
}

.edit-coment form input[type="button"]:hover{
    letter-spacing: 3px;
    background-color: rgb(48, 48, 168);
}

form #coment{
    background-color: transparent;
    border: 2px solid;
    color: white;
    width: 100%;
    word-wrap: break-word;
    padding: 20px;
}

/*/////////////////////////////////////////////////////////////////////*/
/*SECCION DE COMENTARIOS*/
/*/////////////////////////////////////////////////////////////////////*/
.edit-coment.Usuario{
    margin-bottom: 10px;
}

.user-coment{
    border-bottom: 3px #0E3D3E solid;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.user-coment img{
    object-fit: cover;
    width: 100%;
    border-radius: 100%;
}

.user-coment .texto-coment{
    padding: 0px 10px;
    /*background-color: tomato;*/
}

.user-coment .texto-coment .user{
}

.user-coment .texto-coment .fecha-hora{
}

.user-coment .texto-coment .texto{
    word-wrap: break-word;
}