/*/////////////////////////////////////////////////////////////////////*/
/*CAROUSEL*/
/*/////////////////////////////////////////////////////////////////////*/
.News-Carousel{
    /*margin-top: 20px;*/
    background-color: #0E3D3E;
}

.News-Carousel .carousel-item img{
    margin: 0 auto;
    object-fit: contain;
    width: 640px;
    height: 480px;

}

/*/////////////////////////////////////////////////////////////////////*/
/*CAROUSEL*/
/*/////////////////////////////////////////////////////////////////////*/

.News{
    margin: 10px 0 0 0;
}

div.polaroid {
    width: 100%;
    background-color: #0C1212;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    /*margin-bottom: 5px;*/

    padding: 10px 10px 10px 10px;
}

.footer{
    background-color: #141f1f ;
    height: 150px;
}

.footer .col-lg-12{
    height: inherit;
}

.footer .col-lg-12 .row{
    height: inherit;
}

.footer .col-lg-12 .row .col-lg-3{
    height: inherit;
}

.footer-item{
    position: relative;
    /*  border: 2px solid white;*/
    padding: 0 0 0px 200px;

    top: 50%;
    transform: translateY(-50%);
}

.footer-item ul{
    list-style: none;
    padding: 0;
}

.footer-item ul li{
    display: block;
}

/*/////////////////////////////////////////////////////////////////////*/
/*MODAL INICIAR SESION*/
/*/////////////////////////////////////////////////////////////////////*/

.modal .modal-dialog .modal-content .modal-header{
    background-color: #0E3D3E;
    font-family: 'Grenze Gotisch', cursive;
    
}

.modal .modal-dialog .modal-content .modal-header .modal-title{
    font-size: 35px;
}

.modal .modal-dialog .modal-body{
    color: black;
}

.modal form [type="text"], .modal form [type="password"], .modal form [type="text"], .modal form [type="email"]{
    border-bottom:2px black solid;
}

.modal form [type="text"]:focus, .modal form [type="password"]:focus, .modal form [type="text"]:focus, .modal form [type="email"]:focus{
    border-bottom:2px #048350 solid;
}


